- 출력 포멧

In [1]:
print("12345"[1:3])
print("12345"[::-1])
print("12345"+"abc")
print("12345",12345)

23
54321
12345abc
12345 12345

In [2]:
print('Hello, {0}'.format('world!'))
print('Hello, {0}'.format(100))

Hello, world!
Hello, 100

In [3]:
print('Hello, {0} {2} {1}'.format('Python', 'Script', 3.6))

Hello, Python 3.6 Script

In [4]:
print('{0} {0} {1} {1}'.format('Python', 'Script'))
print('Hello, {language} {version}'.format(language='Python', version=3.6))

Python Python Script Script
Hello, Python 3.6

In [5]:
print('%03d' % 1)
print('{0:03d}'.format(1))
print('{2:03d}'.format(1,2,3))

001
001
003

 - 입력(input)

In [6]:
inch=int(input("inch ? "))
#print(inch)
cm=inch*2.54

#print(type(inch))
print(inch,"인치는",cm,"cm입니다")

inch ? 20
20 인치는 50.8 cm입니다

- 제어문(if)

In [7]:
x=11
if x> 10:

    print("조건에 맞습니다")

조건에 맞습니다

In [8]:
x=11
if x< 10 and x<20:
    print("조건에 맞습니다")
else:
    print("조건에 맞지 않습니다")

조건에 맞지 않습니다

In [9]:
year=int(input("태어난 년도:"))
if (year%12)==0:
    print("원숭이")
elif (year%12)==1:
    print("닭")
elif (year%12)==2:
    print("개")
elif (year%12)==3:
    print("돼지")
elif (year%12)==4:
    print("쥐")
elif (year%12)==5:
    print("소")
elif (year%12)==6:
    print("범")
elif (year%12)==7:
    print("토끼")
elif (year%12)==8:
    print("용")  
elif (year%12)==9:
    print("뱀") 
elif (year%12)==10:
    print("말") 
else:
    print("양")

태어난 년도:20
용

In [10]:
#list사용
year=int(input("태어난 년도:"))
l=["원숭이","닭","개","돼지","쥐","소","범","토끼","용","뱀","말","양"]
n=year%12
print(l[n])

태어난 년도:20
용

In [11]:
#tupple사용
year=int(input("태어난 년도:"))
t=("원숭이","닭","개","돼지","쥐","소","범","토끼","용","뱀","말","양")
n=year%12
print(t[n])

태어난 년도:20
용

In [12]:
#dict사용
year=int(input("태어난 년도:"))
d={'0':'원숭이','1':'닭','2':'개','3':'돼지','4':'쥐','5':'소',
   '6':'범','7':'토끼','8':'용','9':'뱀','10':'말','11':'양'}
n=year%12
print(d[str(n)])

태어난 년도:20
용

In [13]:
f = (1,[1,2,3],2)
print (f)

f[1][0]=10
print(f)

(1, [1, 2, 3], 2)
(1, [10, 2, 3], 2)

In [14]:
x = 900000000
y = 900000000
print(x is y)
print(id(x) == id(y))
print(x == y)

False
False
True

In [15]:
print(5/3)
print("{:.2f}".format(5/3))

1.6666666666666667
1.67

- 제어문 (for)

In [16]:
for i in list(range(10)[::-1]):
    print(i,end=',')

9,8,7,6,5,4,3,2,1,0,

In [17]:
for a in range(1,7)[::-1]:            #range(1,7)
    for b in range(1,a)[::-1]:
        print(b,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [18]:
print(range(6))

range(0, 6)

In [19]:
for a in  list(range(10)):
    for b in range(20-a):
        print(" ",end="")
    for b in range(a*2-1):
        print("*", end="")
    print()

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************

In [20]:

for i in range(10):
    print(str("a"*i).rjust(20))

                   a
                  aa
                 aaa
                aaaa
               aaaaa
              aaaaaa
             aaaaaaa
            aaaaaaaa
           aaaaaaaaa

In [21]:
for i in range(10)[1::2]:
    print(str("*"*i).center(20))

         *
        ***
       *****
      *******
     *********

In [22]:
for i in range(1,10,2):
    print("{:^10}".format("*"*i))

    *
   ***
  *****
 *******
*********

In [23]:
s="123"
print(s.zfill(5))
print(s.rjust(5,'0'))
print('goofy'.zfill(6))

00123
00123
0goofy

In [24]:
#구구단
for i in range(2, 10):
    for j in range(1, 10):
        print("{0} x {1} = {2:2d}".format(i, j, i*j))
    print()

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

- 메일 머지

In [25]:
letter = '''
안녕하세요 %s님,
오늘 면접에 참석해 주실 수 있나요?
시간은 %s입니다.
그럼 이만~ 
둘리 드림'''

names = ['Kim', 'Lee', 'Park']
times=['10시','11시','12시'] 
for i in range(3):
    print(letter % (names[i],times[i]))
    print('-' * 40)
    print()

안녕하세요 Kim님,
오늘 면접에 참석해 주실 수 있나요?
시간은 10시입니다.
그럼 이만~
둘리 드림
----------------------------------------


안녕하세요 Lee님,
오늘 면접에 참석해 주실 수 있나요?
시간은 11시입니다.
그럼 이만~
둘리 드림
----------------------------------------


안녕하세요 Park님,
오늘 면접에 참석해 주실 수 있나요?
시간은 12시입니다.
그럼 이만~
둘리 드림
----------------------------------------